*{
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', cursive;                    
    
}

.navbar{
    width: 95%;
    margin: auto;
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
        height: 15px;
        margin: 0 auto;
        background-color: rgba(255,255,255,0.5);
     
}
.logo{
    width: 100px;
    cursor: pointer;
    animation: rotation 2s infinite linear;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h2{
    font-size: 50px;
    margin-top: 50px;
    background: -webkit-linear-gradient(#fee, #243);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content p{
    font-size: 15px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight:  bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
span{
    background: #009688;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
    
}
#videoBG{
    position: fixed;
    z-index: -1;
    width: 50%;
    height: auto;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.logo{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }  
 
.logo:hover  
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}  

.content h1{
    font-size: 60px;
    margin-top: 85px;
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
    background: -webkit-linear-gradient(#eff, #297);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}










